[Unit]
Description=Minecraft Service
After=network.target

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/bedrock-server/
ExecStart=/bin/bash -c "LD_LIBRARY_PATH=. ./bedrock_server 2>&1 | grep --line-buffered -v AutoCompaction | tee -a ./custom_log.txt"
ExecStop=/bin/bash -c "./backup.sh"
ExecStop=/bin/bash -c "echo "stop" > /run/minecraft.stdin"
Restart=always
RestartSec=30
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target